
NLP/ex05 hugging/model_weights.pth
/Vision/ex01_1000_Pokemon/dataset
Vision/ex01_1000_Pokemon/best_model.keras
NLP\ex09 thainnr\eval
NLP\ex09 thainnr\test
NLP\ex09 thainnr\train
/NLP/ex09-Thai-NER/eval
/NLP/ex09-Thai-NER/test
/NLP/ex09-Thai-NER/train
NLP/ex09-Thai-NER/checkpoint.pth
Data-Analysis/Text/prachathai-67k.csv
Linear_Model/ex15_Human-activity/best_cnn_model.weights.h5
/Linear_Model/ex15_Human-activity/HAR/test
/Linear_Model/ex15_Human-activity/HAR/train
Linear_Model/ex15_Human-activity/sample_submission.csv
Linear_Model/ex15_Human-activity/submission_cnn.csv
NLP/ex09-Thai-NER/sample_submission.csv
NLP/ex09-Thai-NER/tag_list.csv
/Vision/ex02_image_caption/Images
*.keras
Vision/ex02_image_caption/captions.txt
*.pkl
/Vision/ex03_img_caption_2/Images
Vision/ex03_img_caption_2/captions.txt
Vision/ex03_img_caption_2/captions_result.csv
/Vision/ex04_img_cap_Salesforce/Images
Linear_Model/test/Yolo_ii.csv
Linear_Model/test/Yolo_aug.csv
Linear_Model/test/Data_non_yolo.csv
Linear_Model/test/CNN.csv
/Vision/ex05_img_search/queries
/Vision/ex05_img_search/test
/Vision/ex05_img_search/train
*.csv
Linear_Model/ex16_Heart_hackton/catboost_info/catboost_training.json
Linear_Model/ex16_Heart_hackton/catboost_info/learn/events.out.tfevents
Linear_Model/ex16_Heart_hackton/catboost_info/learn_error.tsv
Linear_Model/ex16_Heart_hackton/catboost_info/time_left.tsv
